<div class="auth-form" fxLayout="column" fxLayoutAlign="center center">
    <h2>Register</h2>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email" />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Group Name</mat-label>
      <input matInput [(ngModel)]="group" />
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="register()">Register</button>
  
    <p *ngIf="error" style="color:red;">{{ error }}</p>
  </div>
  